
test_vga/software/.metadata/

test_vga/software/vga_computer/obj/

test_vga/software/vga_computer_bsp/.settings/language.settings.xml

test_vga/software/vga_computer/.cproject

test_vga/software/vga_computer/.settings/language.settings.xml

test_vga/software/vga_computer/vga_computer.map

test_vga/software/vga_computer/vga_computer.objdump

test_vga/software/vga_computer/vga_computer.elf

test_vga/Sopc/.qsys_edit/

test_vga/software/test_VGA1_bsp/

test_vga/software/test_VGA1/.cproject

test_vga/software/test_VGA1/.project

test_vga/software/test_VGA1/create-this-app

test_vga/software/test_VGA1/Makefile

test_vga/software/test_VGA1/readme.txt

test_vga/software/test_VGA1/test_VGA1.elf

test_vga/software/test_VGA1/test_VGA1.map

test_vga/software/test_VGA1/test_VGA1.objdump

test_vga/software/test_VGA1/obj/

test_vga/software/test_VGA1/.settings/

test_vga/.qsys_edit/

test_vga/hardware/DE10_LITE_Golden_Top.v.bak

test_vga/hardware/qar_info.json

test_vga/hardware/VGA_test_assignment_defaults.qdf

test_vga/hardware/VGA_test.qsf

*.qws

*.html

*.xml

*.cmp

*.rpt

test_vga/hardware/

test_vga/software/RemoteSystemsTempFiles/
